<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="./assets/logo1.png" />
        </div>
        <div class="company-name">
            <h1>DORADCA ZAWODOWY</h1>
            <h2>ZNAJDŹ SWÓJ WYMARZONY ZAWÓD</h2>
        </div>  
    </header>
    <div class="container">
        <div class="search-box">
            <input type="text" value="Wyszukaj zawód...">
            <button type="button" class="button-arrow"></button>
        </div>
        <button type="button" class="button-advanced-search">WYSZUKIWANIE ZAAWANSOWANE</button>
        <button type="button" class="button-test">ROZPOCZNIJ TEST</button>
    </div>  
</body>
</html>
